<div class="inner-section-one overflow-hidden position-relative">
  <div class="mainBanner h-100 position-relative sliderWrap slide-overlay-wrap">
     <picture class="w-100 h-100 d-block">
        <source srcset="/assets/images/about-us-banner.jpg" media="(min-width: 768px)" class="w-100 h-100 objcvr deskImg">
        <img decoding="async" src="/assets/images/about-us-banner.jpg" alt="" class="w-100 h-100 objcvr mobImg" loading="lazy">
     </picture>
     <div class="slideOver slide-bg-1 slide-right" data-aos="slide-right" data-aos-delay="500" data-aos-duration="500">
     </div>
     <div class="slideOver slide-right" data-aos="slide-right" data-aos-delay="200" data-aos-duration="500"></div>
  </div>
  <div class="homeCont_sec">
     <div class="full-container container container-pd-vw">
        <div class="row row-vw">
           <div class="col-md-12">
              <div class="bannerTitle text-center text-white f-s-94 font-Cormorant line_H_1_2 mrg-t-30" data-aos="fade-up" data-aos-duration="700" data-aos-delay="900"> About Us </div>
           </div>
        </div>
     </div>
  </div>
</div>

<section class="about_usBg">
<div class="aboutUs_section_one pt-150">
  <div class="full-container container container-pd-vw">
     <div class="row row-vw mrg-b-50">
        <div class="col-lg-6">
           <div class="ourStory_sec">
              <div class="ourStory_title">
                 <div class="intructionTitle text-uppercase f-s-19 f-w-SB clr-secondary ltr_space mrg-b-30" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300"> ABOUT US </div>
                 <div class="bannerTitle clr-primary f-s-63 font-Cormorant line_H_1_2 mrg-b-30 f-w-B titleLeaf" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600"> Our Story </div>
              </div>
              <div class="txtSummary_ourStory f-s-20 line_H_2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">
                 <p> Hi, I'm Harshdeep, an ex lawyer, NLP Master Practitioner and Isha Hatha Yoga Teacher. I come from India. </p>
                 <p> After 6 years of studying law, I realised I have learned nothing about life. All I had was some knowledge that will help me survive in the world. </p>
                 <p> I finished my education, feeling a bit cheated honestly because my school taught us everything about the world but nothing about my own mind, body, emotion or spirit. </p>
                 <p> Is this true for you too? </p>
              </div>
           </div>
        </div>
        <div class="col-lg-6">
           <div class="ourStory_img position-relative" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
              <div class="videoTest-img cmnbrd-radius sliderWrap slide-overlay-wrap">
                 <picture class="w-100 d-block">
                    <source srcset="/assets/images/our-story-img.jpg" media="(min-width: 768px)" class="w-100 deskImg trasn_2">
                    <img decoding="async" src="/assets/images/our-story-img.jpg" alt="" class="w-100 mobImg trasn_2" loading="lazy">
                 </picture>
                 <div class="slideOver slide-bg-1 slide-right" data-aos="slide-right" data-aos-delay="500" data-aos-duration="500">
                 </div>
                 <div class="slideOver slide-right" data-aos="slide-right" data-aos-delay="200" data-aos-duration="500"></div>
              </div>
              <div class="videoPly_wrap">
                 <a href="https://www.youtube.com/watch?v=D0UnqGm_miA" class="d-flex align-item-center justify-content-center popup-youtube">
                    <div class="videoIcon_btnInn position-relative">
                       <div class="videoIcon_btn mx-auto mrg-b-10  position-relative">
                          <div class="d-flex align-items-center justify-content-center">
                             <picture class="w-100 d-block">
                                <source srcset="/assets/images/play-icon.png" media="(min-width: 768px)" class="w-100 deskImg">
                                <img decoding="async" src="/assets/images/play-icon.png" alt="" class="w-100 mobImg" loading="lazy">
                             </picture>
                          </div>
                       </div>
                       <div class="rim1"></div>
                       <div class="rim2"></div>
                       <div class="rim3"></div>
                    </div>
                 </a>
              </div>
           </div>
        </div>
     </div>
     <div class="row row-vw mrg-b-50">
        <div class="col-md-12">
           <div class="txtSummary_ourStory f-s-20 line_H_2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
              <p> However, this realization led me to seek tools for my inner growth and explore the vast spiritual traditions in India to find a solution for myself. This is when I found yoga. </p>
              <p> The level of clarity and emotional balance yoga provided me was something phenomenal. I couldn’t resist enjoying the bounty of this science just for myself. Wherever I would, to parties or any gatherings I would always end up recommending yoga to everyone. </p>
              <p> Later I realised that how incredible it would be if I can teach it to others aswell. This is when I decided that I would want to offer these profound yogic tools to whoever is willing to explore their life more deeply. </p>
              <p> So I packed my bags and decided to go to South India, to Isha Yoga Centre, for <strong>7 months</strong> and went though <strong>1750 hours</strong> of intensive training to become a Isha hatha Yoga teacher. </p>
           </div>
        </div>
     </div>
     <div class="row row-vw mrg-b-50">
        <div class="col-md-12">
           <div class="ourStory_img position-relative" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
              <div class="videoTest-img cmnbrd-radius cmnBox-shadow sliderWrap slide-overlay-wrap">
                 <picture class="w-100 d-block">
                    <source srcset="/assets/images/our-story-img-1.jpg" media="(min-width: 768px)" class="w-100 deskImg trasn_2">
                    <img decoding="async" src="/assets/images/our-story-img-1.jpg" alt="" class="w-100 mobImg trasn_2" loading="lazy">
                 </picture>
                 <div class="slideOver slide-bg-1 slide-right" data-aos="slide-right" data-aos-delay="500" data-aos-duration="500">
                 </div>
                 <div class="slideOver slide-right" data-aos="slide-right" data-aos-delay="200" data-aos-duration="500"></div>
              </div>
              <div class="videoPly_wrap">
                 <a href="https://www.youtube.com/watch?v=D0UnqGm_miA" class="d-flex align-item-center justify-content-center popup-youtube">
                    <div class="videoIcon_btnInn position-relative">
                       <div class="videoIcon_btn mx-auto mrg-b-10  position-relative">
                          <div class="d-flex align-items-center justify-content-center">
                             <picture class="w-100 d-block">
                                <source srcset="/assets/images/play-icon.png" media="(min-width: 768px)" class="w-100 deskImg">
                                <img decoding="async" src="/assets/images/play-icon.png" alt="" class="w-100 mobImg" loading="lazy">
                             </picture>
                          </div>
                       </div>
                       <div class="rim1"></div>
                       <div class="rim2"></div>
                       <div class="rim3"></div>
                    </div>
                 </a>
              </div>
           </div>
        </div>
     </div>
     <div class="row row-vw mrg-b-50">
        <div class="col-md-12">
           <div class="txtSummary_ourStory f-s-20 line_H_2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">
              <p> The Isha Yoga Center situated at the foothills of Velliangiri mountains, on the outskirts of Coimbatore, is the headquarters for Isha Foundation. (or as we mischievously call it the hogwarts of yoga )<br> The Center is dedicated to fostering <a href="https://isha.sadhguru.org/uk/en/blog/article/music-dance-and-inner-transformation-inner-way-with-sadhguru" target="_blank">inner transformation</a> and creating an established state of wellbeing in individuals. The large residential facility houses an active international community of brahmacharis (monks), full-time <a href="https://isha.sadhguru.org/uk/en/volunteer" target="_blank">volunteers</a> and visitors. Isha Yoga Center provides a supportive environment for you to shift to healthier lifestyles, seek a higher level of self-fulfillment and realize your full potential. ‘’ </p>
              <p> If it’s worked so wonderfully for me and millions of others throughout the ages, surely it’s worth offering to others. This was my thought behind becoming a Yoga Teacher. </p>
              <p> So I left law and decided to choose a path that allows me to share these ancient tools of transformation with the world.</p>
              <p> And here I am. </p>
              <p> Now, none of this would be possible without my guru’s grace and blessing. It’s only because of the impact he had on my life that I got to experience what yoga really is. And I continue to know everyday. </p>
              <p> If you’re wondering who my guru is?</p>
           </div>
        </div>
     </div>
     <div class="row row-vw mrg-b-50">
        <div class="col-lg-6">
           <div class="ourStory_sec">
              <div class="ourStory_title">
                 <div class="bannerTitle clr-primary f-s-63 font-Cormorant line_H_1_2 mrg-b-30 f-w-B titleLeaf" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600"> He is Sadhguru. </div>
              </div>
              <div class="txtSummary_ourStory line_H_2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">
                 <p> Yogi, mystic and visionary, Sadhguru is a spiritual master with a difference. An arresting blend of profundity and pragmatism, his life and work serve as a reminder that yoga is not an esoteric discipline from an outdated past, but a contemporary science, vitally relevant to our times. </p>
                 <p> Probing, passionate and provocative, insightful, logical and unfailingly witty, Sadhguru's talks have earned him the reputation of a speaker and opinion-maker of international renown. With a celebratory engagement with life on all levels, Sadhguru's areas of active involvement encompass fields as diverse as architecture and visual design, poetry and painting, ecology and horticulture, music and sports. </p>
              </div>
           </div>
        </div>
        <div class="col-lg-6">
           <div class="ourStory_img position-relative" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
              <div class="videoTest-img cmnbrd-radius cmnBox-shadow sliderWrap slide-overlay-wrap">
                 <picture class="w-100 d-block">
                    <source srcset="/assets/images/sadguru-img-1.jpg" media="(min-width: 768px)" class="w-100 deskImg trasn_2">
                    <img decoding="async" src="/assets/images/sadguru-img-1.jpg" alt="" class="w-100 mobImg trasn_2" loading="lazy">
                 </picture>
                 <div class="slideOver slide-bg-1 slide-right" data-aos="slide-right" data-aos-delay="500" data-aos-duration="500">
                 </div>
                 <div class="slideOver slide-right" data-aos="slide-right" data-aos-delay="200" data-aos-duration="500"></div>
              </div>
              <div class="videoPly_wrap">
                 <a href="https://www.youtube.com/watch?v=D0UnqGm_miA" class="d-flex align-item-center justify-content-center popup-youtube">
                    <div class="videoIcon_btnInn position-relative">
                       <div class="videoIcon_btn mx-auto mrg-b-10  position-relative">
                          <div class="d-flex align-items-center justify-content-center">
                             <picture class="w-100 d-block">
                                <source srcset="/assets/images/play-icon.png" media="(min-width: 768px)" class="w-100 deskImg">
                                <img decoding="async" src="/assets/images/play-icon.png" alt="" class="w-100 mobImg" loading="lazy">
                             </picture>
                          </div>
                       </div>
                       <div class="rim1"></div>
                       <div class="rim2"></div>
                       <div class="rim3"></div>
                    </div>
                 </a>
              </div>
           </div>
        </div>
     </div>
     <div class="row row-vw mrg-b-50">
        <div class="col-lg-6">
           <div class="ourStory_img position-relative" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
              <div class="videoTest-img cmnbrd-radius cmnBox-shadow sliderWrap slide-overlay-wrap">
                 <picture class="w-100 d-block">
                    <source srcset="/assets/images/our-story-img.jpg" media="(min-width: 768px)" class="w-100 deskImg trasn_2">
                    <img decoding="async" src="/assets/images/our-story-img.jpg" alt="" class="w-100 mobImg trasn_2" loading="lazy">
                 </picture>
                 <div class="slideOver slide-bg-1 slide-left" data-aos="slide-left" data-aos-delay="500" data-aos-duration="500">
                 </div>
                 <div class="slideOver slide-left" data-aos="slide-left" data-aos-delay="200" data-aos-duration="500"></div>
              </div>
           </div>
        </div>
        <div class="col-lg-6 align-self-center">
           <div class="ourStory_sec">
              <div class="txtSummary_ourStory extraSpace_story line_H_2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">
                 <p> Named one of India’s 50 most influential people, Sadhguru’s work has deeply touched the lives of millions worldwide through his transformational programs. Sadhguru has a unique ability to make the ancient yogic sciences relevant to contemporary minds, acting as a bridge to the deeper dimensions of life. His life and work are constant reminders that the inner sciences are not outdated philosophies, but rather, vitally relevant to our times. His approach does not ascribe to any belief system, but offers methods for self-transformation that are both proven and powerful. </p>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="aboutUs_section_two pt-150">
  <div class="full-container container container-pd-vw">
      <div class="row row-vw justify-content-center">
         <div class="col-lg-8">
            <div class="section-title pb-150">
               <div class="bannerTitle text-center clr-primary f-s-63 font-Cormorant line_H_1_2 mrg-b-30 f-w-B" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600"> So what yoga do we teach? </div>
            </div>
         </div>
     </div>
     <div class="row row-vw mrg-b-50">
        <div class="col-lg-6">
           <div class="ourStory_sec">
              <div class="ourStory_title">
                 <div class="bannerTitle clr-primary f-s-50 font-Cormorant line_H_1_2 mrg-b-30 f-w-B" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600"> Classical Hatha Yoga </div>
              </div>
              <div class="txtSummary_ourStory extraSpace_story_1 f-s-20 line_H_2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">
                 <p> Hatha Yoga stems from a deep understanding of the mechanics of the body, and uses yogic postures, or yoga asanas, to enable the system to sustain higher dimensions of energy. By practicing this profound science, one can change and enhance the way they think, feel, and experience life. Hatha Yoga is about creating a body that is not a hurdle in someone's life. The body becomes a stepping stone in the progress towards blossoming into ultimate possibility. </p>
                 <p> Isha Hatha Yoga programs are an unparalleled opportunity to learn classical hatha yoga in its full depth and vibrancy. They are a holistic process of naturally achieving mastery over the body and mind, so as to come to a state of health, joy, and bliss. The programs are an extensive exploration of hatha yoga and revive various dimensions of this ancient science that are largely absent in the world today. </p>
              </div>
           </div>
        </div>
        <div class="col-lg-6 position-relative">
           <div class="ourStory_img position-relative z-index-9" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
              <div class="videoTest-img cmnbrd-radius cmnBox-shadow sliderWrap slide-overlay-wrap">
                 <picture class="w-100 d-block">
                    <source srcset="/assets/images/our-story-img.jpg" media="(min-width: 768px)" class="w-100 deskImg trasn_2">
                    <img decoding="async" src="/assets/images/our-story-img.jpg" alt="" class="w-100 mobImg trasn_2" loading="lazy">
                 </picture>
                 <div class="slideOver slide-bg-1 slide-right" data-aos="slide-right" data-aos-delay="500" data-aos-duration="500">
                 </div>
                 <div class="slideOver slide-right" data-aos="slide-right" data-aos-delay="200" data-aos-duration="500"></div>
              </div>

           </div>
           <div class="about-us-bg-1">
              <picture class="w-100 d-block">
                 <source srcset="/assets/images/about-us-bg-1.png" media="(min-width: 768px)" class="w-100 deskImg trasn_2">
                 <img decoding="async" src="/assets/images/about-us-bg-1.png" alt="" class="w-100 mobImg trasn_2" loading="lazy">
              </picture>
           </div>
        </div>
     </div>
  </div>
</div>

<div class="aboutUs_section_two pt-150 pb-150">
  <div class="full-container container container-pd-vw">
      <div class="row row-vw justify-content-center">
         <div class="col-lg-8">
            <div class="section-title mrg-b-100">
               <div class="bannerTitle text-center clr-primary f-s-63 font-Cormorant line_H_1_2 mrg-b-30 f-w-B titleLeaf" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600"> For me this is a renaissance of an ancient science </div>
            </div>
         </div>
     </div>
     <div class="row row-vw pb-150">
        <div class="col-lg-6 position-relative">
           <div class="ourStory_img position-relative z-index-9" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
              <div class="videoTest-img cmnbrd-radius cmnBox-shadow sliderWrap slide-overlay-wrap">
                 <picture class="w-100 d-block">
                    <source srcset="/assets/images/our-story-img.jpg" media="(min-width: 768px)" class="w-100 deskImg trasn_2">
                    <img decoding="async" src="/assets/images/our-story-img.jpg" alt="" class="w-100 mobImg trasn_2" loading="lazy">
                 </picture>
                 <div class="slideOver slide-bg-1 slide-left" data-aos="slide-left" data-aos-delay="500" data-aos-duration="500">
                 </div>
                 <div class="slideOver slide-left" data-aos="slide-left" data-aos-delay="200" data-aos-duration="500"></div>
              </div>

           </div>
           <div class="about-us-bg-1">
              <picture class="w-100 d-block">
                 <source srcset="/assets/images/about-us-bg-1.png" media="(min-width: 768px)" class="w-100 deskImg trasn_2">
                 <img decoding="async" src="/assets/images/about-us-bg-1.png" alt="" class="w-100 mobImg trasn_2" loading="lazy">
              </picture>
           </div>
        </div>
        <div class="col-lg-6 align-self-center">
           <div class="ourStory_sec">
              <div class="txtSummary_ourStory extraSpace_story f-s-20 line_H_2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">
                 <p> We offer yoga in it's purest form, in a classical format, without any distortion caused by the modern age, and come from a lineage which is 5000-15000 year old and started in Indus-Sarasvati civilization in Northern India. </p>
                 <p> Yoga was authentically offered in the form of gurushishya parampara in India for thousands of years this means - By a realized master to other seekers. </p>
                 <p> That is how I received yoga from my guru. More about him later. </p>
              </div>
           </div>
        </div>
     </div>
     <div class="row row-vw mrg-b-50 pt-150">
        <div class="col-lg-6">
           <div class="ourStory_sec">
              <div class="ourStory_title w-80">
                 <div class="bannerTitle clr-primary f-s-63 font-Cormorant line_H_1_2 mrg-b-30 f-w-B titleLeaf" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600"> Yoga offered as a science </div>
              </div>
              <div class="txtSummary_ourStory f-s-20 line_H_2" data-aos="fade-up" data-aos-duration="700" data-aos-delay="900">
                 <p> We do not offer yoga the studio way. </p>
                 <p> But why so? </p>
                 <p> It’s because we do not teach yoga as an exercise but as a powerful inner science which empowers you to realise your inner potential by leveraging the power of yoga. <br> In modern times, yoga has been offered in all kinds of distorted forms. </p>
                 <p> Yoga in high heat. Yoga as an aerobic activity. Yoga using objects. It’s a circus out there. <br> At best they serve the purpose of entertainment and at worst damaging your physical and energy structure. </p>
              </div>
           </div>
        </div>
        <div class="col-lg-6">
           <div class="ourStory_img position-relative">
              <div class="videoTest-img cmnbrd-radius cmnBox-shadow sliderWrap slide-overlay-wrap" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                 <picture class="w-100 d-block">
                    <source srcset="/assets/images/our-story-img.jpg" media="(min-width: 768px)" class="w-100 deskImg trasn_2">
                    <img decoding="async" src="/assets/images/our-story-img.jpg" alt="" class="w-100 mobImg trasn_2" loading="lazy">
                 </picture>
                 <div class="slideOver slide-bg-1 slide-right" data-aos="slide-right" data-aos-delay="500" data-aos-duration="500">
                 </div>
                 <div class="slideOver slide-right" data-aos="slide-right" data-aos-delay="200" data-aos-duration="500"></div>
              </div>
              <div class="videoPly_wrap">
                 <a href="https://www.youtube.com/watch?v=D0UnqGm_miA" class="d-flex align-item-center justify-content-center popup-youtube">
                    <div class="videoIcon_btnInn position-relative">
                       <div class="videoIcon_btn mx-auto mrg-b-10  position-relative">
                          <div class="d-flex align-items-center justify-content-center">
                             <picture class="w-100 d-block">
                                <source srcset="/assets/images/play-icon.png" media="(min-width: 768px)" class="w-100 deskImg">
                                <img decoding="async" src="/assets/images/play-icon.png" alt="" class="w-100 mobImg" loading="lazy">
                             </picture>
                          </div>
                       </div>
                       <div class="rim1"></div>
                       <div class="rim2"></div>
                       <div class="rim3"></div>
                    </div>
                 </a>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
</section>

<div class="aboutUs_section_three home-section_four secBg_wrap position-relative" style="background-image:url(/assets/images/yoga-slider-img.jpg)">
<div class="full-container container container-pd-vw position-relative z-index-9">
   <div class="row row-vw">
      <div class="col-md-12">
         <div class="yoga-text-slider thmArrow mb-0" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
            <div class="slide-item">
               <div class="yogaTxt text-center f-s-63 font-Cormorant text-white mrg-b-30">
                  If you learn to use this body as an instrument, it is the most fantastic and powerful instrument on the planet
               </div>
               <div class="yoga_subTxt text-center text-white f-s-30 font-italic">
                  Sadhguru
               </div>
            </div>
            <div class="slide-item">
               <div class="yogaTxt text-center f-s-63 font-Cormorant text-white mrg-b-30">
                  If you learn to use this body as an instrument, it is the most fantastic and powerful instrument on the planet
               </div>
               <div class="yoga_subTxt text-center text-white f-s-30 font-italic">
                  Sadhguru
               </div>
            </div>
            <div class="slide-item">
               <div class="yogaTxt text-center f-s-63 font-Cormorant text-white mrg-b-30">
                  If you learn to use this body as an instrument, it is the most fantastic and powerful instrument on the planet
               </div>
               <div class="yoga_subTxt text-center text-white f-s-30 font-italic">
                  Sadhguru
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>
