<header class="header">
  <div class="full-container container container-pd-vw">
     <nav class="navbar navbar-expand-lg">

           <a class="navbar-brand f-s-50 f-w-B font-Cormorant text-white" href="index.php">
           Yoga with Harsh
           </a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
             <div class="navMng-In">
              <ul class="navbar-nav cst-mainMenu">
                 <li class="nav-item">
                    <a class="nav-link active" href="index.php">Home</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="about-us.php">About</a>
                 </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Program offering
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       <li><a class="dropdown-item f-w-M" href="individual-programs.php">Surya Kriya</a></li>
                       <li><a class="dropdown-item f-w-M" href="individual-programs.php">Yogasanas</a></li>
                       <li><a class="dropdown-item f-w-M" href="individual-programs.php">Angamardana</a></li>
                       <li><a class="dropdown-item f-w-M" href="individual-programs.php">Bhutta shuddhi</a></li>
                       <li><a class="dropdown-item f-w-M" href="individual-programs.php">Upa yoga</a></li>
                    </ul>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="upcoming-programs.php">Upcoming programs</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="personal-coaching.php">Personal Coaching</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="blogs.php">Blogs</a>
                 </li>
                 <li class="nav-item">
                    <a class="nav-link" href="contact-us.php">Contact</a>
                 </li>
              </ul>
             </div>
           </div>

     </nav>
  </div>
 </header>
