<footer class="footer overflow-hidden">
  <div class="full-container container container-pd-vw position-relative z-index-9 overflow-hidden">
     <div class="footerInn">
        <div class="row row-vw">
           <div class="col-lg-4">
              <div class="footBx">
                 <div class="footLogo_txt f-s-50 font-Cormorant f-w-SB mrg-b-10" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300"> Yoga with Harsh </div>
                 <div class="footTxt f-s-17 text-white line_H_1_8" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                    Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Praesent tellus leo, vesti bulum a ipsum sed.
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-lg-3">
              <div class="footerLink_bx">
                 <div class="footTitle f-s-36 font-Cormorant text-white mrg-b-30" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300"> Get In Touch </div>
                 <div class="footCont" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                    <ul class="list-unstyled mb-0 footCont-list">
                       <li class="list-block-item">
                          <a href="javascript:void(0)" class="d-flex align-items-center">
                             <div class="footCont_1 mrg-r-15">
                                <div class="contIcon-sec">
                                   <div class="conIcon">
                                      <picture class="w-100 d-block">
                                         <source srcset="images/location-icon.png" media="(min-width: 768px)" class="w-100 deskImg">
                                         <img decoding="async" src="images/location-icon.png" alt="" class="w-100 mobImg" loading="lazy">
                                      </picture>
                                   </div>
                                </div>
                             </div>
                             <div class="footCont_2">
                                <div class="txtFoot text-white f-s-17"> 140 Home Street, Plano </div>
                             </div>
                          </a>
                       </li>
                       <li class="list-block-item">
                          <a href="mailto:savana@mail.com" class="d-flex align-items-center">
                             <div class="footCont_1 mrg-r-15">
                                <div class="contIcon-sec">
                                   <div class="conIcon">
                                      <picture class="w-100 d-block">
                                         <source srcset="images/mail-icon.png" media="(min-width: 768px)" class="w-100 deskImg">
                                         <img decoding="async" src="images/mail-icon.png" alt="" class="w-100 mobImg" loading="lazy">
                                      </picture>
                                   </div>
                                </div>
                             </div>
                             <div class="footCont_2">
                                <div class="txtFoot text-white f-s-17"> savana@mail.com </div>
                             </div>
                          </a>
                       </li>
                       <li class="list-block-item">
                          <a href="tel:+1234567890" class="d-flex align-items-center">
                             <div class="footCont_1 mrg-r-15">
                                <div class="contIcon-sec">
                                   <div class="conIcon">
                                      <picture class="w-100 d-block">
                                         <source srcset="images/contact-icon.png" media="(min-width: 768px)" class="w-100 deskImg">
                                         <img decoding="async" src="images/contact-icon.png" alt="" class="w-100 mobImg" loading="lazy">
                                      </picture>
                                   </div>
                                </div>
                             </div>
                             <div class="footCont_2">
                                <div class="txtFoot text-white f-s-17"> +1 (234) 567 890 </div>
                             </div>
                          </a>
                       </li>
                    </ul>
                 </div>
              </div>
           </div>
           <div class="col-md-4 col-lg-2">
              <div class="footerLink_bx">
                 <div class="footTitle f-s-36 font-Cormorant text-white mrg-b-30" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300"> Quicklinks </div>
                 <ul class="list-unstyled mb-0 footLink-list" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                    <li class="list-block-item"> <a href="index.php" class="footLink f-s-17"> Home </a></li>
                    <li class="list-block-item"> <a href="about-us.php" class="footLink f-s-17"> About </a></li>
                    <li class="list-block-item"> <a href="upcoming-programs.php" class="footLink f-s-17"> Upcoming Program </a></li>
                    <li class="list-block-item"> <a href="personal-coaching.php" class="footLink f-s-17"> Personal Coaching </a></li>
                    <li class="list-block-item"> <a href="contact-us.php" class="footLink f-s-17"> Contact </a></li>
                    <li class="list-block-item"> <a href="blogs.php" class="footLink f-s-17"> Blogs </a></li>
                    <li class="list-block-item"> <a href="#" class="footLink f-s-17"> FAQs </a></li>
                 </ul>
              </div>
           </div>
           <div class="col-md-4 col-lg-3">
              <div class="footerLink_bx">
                 <div class="footTitle f-s-36 font-Cormorant text-white mrg-b-30" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300"> Free yoga course </div>
                 <form>
                    <div class="yogaCoarse_form" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">
                       <div class="d-flex">
                          <div class="form1">
                             <div class="formGroup">
                                <input type="email" placeholder="Email" name="" class="courseInput f-s-17" required>
                             </div>
                          </div>
                          <div class="form1">
                             <button type="submit" class="courseSubmit">
                                <picture class="w-100 d-block arrow-1">
                                   <source srcset="images/btn-arrow.png" media="(min-width: 768px)" class="w-100 deskImg">
                                   <img decoding="async" src="images/btn-arrow.png" alt="" class="w-100 mobImg" loading="lazy">
                                </picture>
                             </button>
                          </div>
                       </div>
                    </div>
                 </form>
              </div>
           </div>
        </div>
     </div>
     <div class="copyright_sec">
        <div class="row row-vw">
           <div class="col-md-6">
              <div class="copyrightTxt text-white text-center text-md-start" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300"> Copyright © 2021 ASK Project </div>
           </div>
           <div class="col-md-6">
              <div class="socialIcon_wrap text-center text-md-end" data-aos="fade-up" data-aos-duration="700" data-aos-delay="300">
                 <ul class="list-inline mb-0 social-list">
                    <li class="list-inline-item"> <a href="#" class="socialLink"> <i class="fa fa-facebook" aria-hidden="true"></i> </a></li>
                    <li class="list-inline-item"> <a href="#" class="socialLink"> <i class="fa fa-twitter" aria-hidden="true"></i> </a></li>
                    <li class="list-inline-item"> <a href="#" class="socialLink"> <i class="fa fa-linkedin" aria-hidden="true"></i> </a></li>
                 </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
 </footer>
